appnope==0.1.0
arrow==0.10.0
beautifulsoup4==4.5.1
coverage==4.3.1
decorator==4.0.10
ipython==5.1.0
ipython-genutils==0.1.0
Jinja2==2.8
-e git+https://github.com/rveeblefetzer/learning_journal@fc003498de0e23ea342f963914fdb90d4313f6de#egg=learning_journal
-e git+https://github.com/rveeblefetzer/learning-journal-basic.git@ac7deea64e8508f3611cf4c53bc5908b2328c4b1#egg=learning_journal_basic
Mako==1.0.6
MarkupSafe==0.23
PasteDeploy==1.5.2
pexpect==4.2.1
pickleshare==0.7.4
pluggy==0.4.0
prompt-toolkit==1.0.9
psycopg2==2.6.2
ptyprocess==0.5.1
py==1.4.32
pycmd==1.2
Pygments==2.1.3
pyramid==1.7.3
pyramid-debugtoolbar==3.0.5
pyramid-ipython==0.2
pyramid-jinja2==2.7
pyramid-mako==1.0.2
pyramid-tm==1.1.1
pytest==3.0.5
pytest-cov==2.4.0
python-dateutil==2.6.0
repoze.lru==0.6
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.1.4
tox==2.5.0
traitlets==4.3.1
transaction==2.0.3
translationstring==1.3
venusian==1.0
virtualenv==15.1.0
waitress==1.0.1
wcwidth==0.1.7
WebOb==1.7.0
WebTest==2.0.24
zope.deprecation==4.2.0
zope.interface==4.3.3
zope.sqlalchemy==0.7.7
